#modal-request {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #00000024;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-request-container {
  width: 80%;
  height: 90%;
  padding: 3rem;
  background-color: var(--white);
  border-radius: 1rem;
  border: 0.2rem solid var(--primary-color-clearer);
  overflow-y: scroll;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}

#modal-request-container::-webkit-scrollbar {
  width: 0.8rem;
}

#modal-request-container::-webkit-scrollbar-track {
  background-color: var(--white);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#modal-request-container::-webkit-scrollbar-thumb {
  background-color: var(--primary-color-more-clearer);
  border-radius: 2rem;
  border: 0.3rem solid var(--white);
}

#modal-request-container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

#modal-request-container h2 {
  color: var(--primary-color-darker);
  display: flex;
  align-items: center;
  gap: 1rem;
}

#modal-request-container #close-modal {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 200ms ease;
}

#modal-request-container #close-modal:hover {
  transform: scale(1.2);
}

#modal-request-container section {
  border: 0.2rem solid var(--primary-color-clearer);
  padding: 2rem;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
}

#modal-request-container section h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: var(--primary-color-darker);
  margin-bottom: 2rem;
}

#modal-request-container section h3 img {
  width: 2rem;
  height: 2rem;
}

#origin-and-destination {
  display: flex;
  gap: 6rem;
}

#origin-and-destination p {
  margin-bottom: 1.5rem;
  font-weight: bold;
  font-family: var(--inter);
  color: var(--primary-color-darker);
}

section ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

section ul li {
  font-weight: 500;
}

section ul li span {
  font-weight: 400;
}

#cargo-details > div {
  display: flex;
  gap: 6rem;
  margin-bottom: 3rem;
}

#cargo-details ul {
  gap: 2rem;
}

#cargo-details > h4 {
  font-weight: 500;
  margin-bottom: 1rem;
}

#cargo-details > p {
  background-color: var(--primary-color-more-clearer);
  padding: 1rem;
  border-radius: 0.25rem;
}

#special-features ul {
  gap: 2rem;
}

#modal-dates > div {
  display: flex;
  gap: 1rem;
}

#modal-dates > div > div {
  flex: 1;
}

#modal-dates > div > div > h4 {
  font-weight: 500;
  margin-bottom: 1rem;
}

#modal-dates > div > div > p {
  background-color: var(--primary-color-more-clearer);
  padding: 1rem;
  border-radius: 0.5rem;
}

#xml-document #tax-doc {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  background-color: var(--bg);
  padding: 1rem;
  align-items: center;
  border-radius: 0.5rem;
}

#xml-document #tax-doc > div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#xml-document #tax-doc > button {
  display: flex;
  background-color: var(--primary-color);
  gap: 1rem;
  align-items: center;
  border-radius: 1rem;
  border: none;
  color: var(--white);
  font-weight: 600;
  font-size: 1.8rem;
  padding: 1rem 2rem;
  transition: transform 200ms ease, background-color 0.8s ease;
  cursor: pointer;
}

#xml-document #tax-doc > button > img {
  width: 1.6rem;
  height: 1.6rem;
  pointer-events: none;
  background-color: transparent;
}

#xml-document #tax-doc > button:hover {
  transform: scale(1.05);
}

#status > div {
  display: flex;
  justify-content: space-between;
}

#status > div h4 {
  font-weight: 500;
  margin-bottom: 1rem;
}

#status > div > div:nth-child(1) p {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 0.5rem;
  border-radius: 10rem;
}

#status > div > div:nth-child(1) p.status.pending {
  background-color: #ffc26138;
  color: #e28b00;
}

#status > div > div:nth-child(1) p.status.in-progress {
  background-color: #dcfce7;
  color: #166534;
}

#status > div > div:nth-child(1) p.status.completed {
  background-color: #3b82f62b;
  color: #3196f8;
}

#status > div > div:nth-child(1) p.status.canceled {
  background-color: #ff616138;
  color: #ef4444;
}

#status > div > div:nth-child(2) p {
  font-size: 2.4rem;
  font-weight: bold;
  color: var(--primary-color-darker);
}

#status > div > div:last-child {
  text-align: right;
}

#modal-btns {
  display: flex;
  justify-content: flex-end !important;
  align-items: center;
  margin-bottom: 2rem;
  gap: 2rem;
}

#cancel-btn {
  margin: 0.7rem 0;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #ff4343;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 200ms ease, box-shadow 200ms ease;
}

#cancel-btn:hover {
  background-color: #b62e2e;
  box-shadow: var(--shadow-clearer);
}

#edit-btn {
  margin: 0.7rem 0;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: var(--green-darker);
  border: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: var(--white);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 200ms ease, box-shadow 200ms ease;
}

#edit-btn:hover {
  background-color: var(--green);
  box-shadow: var(--shadow-clearer);
}

#modal-request #distance {
  margin-top: 2rem;
  font-size: 1.8rem;
}

@media (max-width: 1030px) {
  #modal-request-container {
    width: 90%;
    height: 90%;
  }
}

@media (max-width: 830px) {
  #tax-doc {
    justify-content: space-between;
    padding: 2rem;
    align-items: flex-start !important;
    flex-direction: column;
  }

  #origin-and-destination {
    flex-direction: column;
    gap: 4rem;
    justify-content: flex-start;
  }

  #modal-request #distance {
    margin-top: 4rem;
  }
}

@media (max-width: 750px) {
  #modal-request-container {
    width: 100%;
    height: 100%;
    border-radius: 0;
    border: none;
  }
}

@media (max-width: 570px) {
  #modal-dates > div {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  #cargo-details > div {
    flex-direction: column;
    justify-content: flex-start;
    gap: 2rem;
    margin-bottom: 4rem;
  }
}