* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --bg: #f9f9f9;
  --white: #ffff;
  --black: #232323;
  --border-clearer: #A3A3A3;
  --black-mid-clearer: #5c5b5c;
  --black-clearer: #636363;
  --primary-color: #3196f8;
  --primary-color-more-clearer: #DDECFB;
  --primary-color-clearer: #83bffa;
  --gray-clearer: #e4e4e4;
  --worksans: "Work Sans", sans-serif;
  --inter: "Inter", sans-serif;
  --shadow: .9rem .8rem 2.3rem #00000040;
  --shadow-clearer: .9rem .8rem 2.3rem #0000000c;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: var(--inter);
  height: 100vh;
  overflow-x: hidden;
  color: var(--black);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}
