#landing-page {
  background-color: var(--bg);
}

/* Header */

#landing-page > header {
  position: relative;
  z-index: 999;
  background-color: var(--white);
  border-bottom: 0.1rem solid var(--gray-clearer);
}

#landing-page > header > .container {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

#landing-page > header > .container > nav > ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

#landing-page > header > .container > nav > ul > li {
  display: block;
  position: relative;
}

#landing-page > header > .container > nav > ul > li > a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: var(--black-clearer);
  display: block;
  transition: color 200ms ease;
}

#landing-page > header > .container > nav > ul > li > a:hover {
  color: var(--primary-color);
}

.ball {
  position: absolute;
  left: 50%;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 100%;
  background-color: var(--primary-color);
  display: block;
  margin: auto;
  animation: ballAppers 400ms backwards;
}

#landing-page > header > .container > button {
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  background-color: var(--black);
  border-radius: 0.5rem;
  border: none;
  font-weight: 600;
  color: var(--white);
  cursor: pointer;
  border: 0.2rem solid var(--black);
  transition: color 200ms ease, background-color 200ms ease;
}

#landing-page > header > .container > button:hover {
  background-color: var(--white);
  color: var(--black);
}

/* Hero Section*/

#hero {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding: 10rem 0 15rem;
  width: 90%;
  max-width: 100rem;
  margin: auto;
}

#hero > div:first-child > h2 {
  font-family: var(--worksans);
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

#hero > div:first-child > p {
  color: var(--black-clearer);
  margin-bottom: 2rem;
  width: 70%;
}

#hero > div:first-child > button {
  padding: 1rem 2.5rem;
  font-size: 1.6rem;
  background-color: var(--black);
  border-radius: 0.5rem;
  border: none;
  font-weight: 400;
  color: var(--white);
  cursor: pointer;
  border: 0.2rem solid var(--black);
  transition: color 200ms ease, background-color 200ms ease;
  display: block;
  margin-bottom: 1.5rem;
}

#hero > div:first-child > button:hover {
  background-color: var(--bg);
  color: var(--black);
}

#hero > div:first-child > a {
  color: var(--primary-color);
  font-size: 1.6rem;
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
}

#hero > div:nth-child(2) > img {
  width: 80%;
  min-width: 32rem;
}

/* I'm Truck Driver Section */

#im-truck-driver {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem;
  border: 0.1rem solid var(--primary-color-clearer);
  border-radius: 1rem;
  width: 90%;
  background-color: var(--white);
  box-shadow: var(--shadow-clearer);
  max-width: 100rem;
  margin: auto;
}

#im-truck-driver > div:first-child {
  width: 40%;
}

#im-truck-driver > div:first-child > h3 {
  font-size: 2.6rem;
  font-weight: 600;
  font-family: var(--worksans);
  margin-bottom: 1rem;
}

#im-truck-driver > div:first-child > p {
  font-family: var(--inter);
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: var(--black-clearer);
}

#im-truck-driver > div:first-child > button {
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  background-color: var(--black);
  border-radius: 0.5rem;
  border: none;
  font-weight: 400;
  color: var(--white);
  font-size: 1.4rem;
  cursor: pointer;
  border: 0.2rem solid var(--black);
  transition: color 200ms ease, background-color 200ms ease;
  display: block;
  margin-bottom: 1.5rem;
}

#im-truck-driver > img {
  width: 35%;
  min-width: 28rem;
  box-shadow: var(--shadow);
  border-radius: 1rem;
}

/* benefits */

#benefits {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 90%;
  max-width: 100rem;
  margin: auto;
}

#benefits > div:first-child > img {
  width: 100%;
  min-width: 50rem;
  transform: translateX(-40rem);
}

#benefits > div:last-child {
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

#benefits > div:last-child > span {
  font-size: 1.8rem;
  width: 30rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  text-align: center;
  font-weight: 600;
  color: var(--black-mid-clearer);
  display: block;
}

#benefits > div:last-child > span:nth-child(1) {
  background-color: #f5e8ba;
  margin-right: 4rem;
}
#benefits > div:last-child > span:nth-child(2) {
  background-color: #a0cdf8;
}
#benefits > div:last-child > span:nth-child(3) {
  background-color: #baf8ba;
  margin-right: -4rem;
}

/* hows it works */

#hows-it-works {
  width: 100%;
  position: relative;
  margin-top: 10rem;
}

#hows-it-works > .container {
  width: 90%;
  max-width: 100rem;
  margin: auto;
}

#hows-it-works > img {
  position: absolute;
  top: -16.8rem;
  left: 0;
  width: 100%;
}

#hows-it-works > .container > h2 {
  text-align: center;
  transform: translateY(-5rem);
}

#hows-it-works > .container > p {
  width: 60%;
  margin: auto;
  text-align: center;
  transform: translateY(0rem);
}

#video-ref {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(https://images.unsplash.com/photo-1485575301924-6891ef935dcd?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  width: 80%;
  height: 80%;
  border-radius: 1rem;
}

#video-border {
  position: relative;
  width: 80%;
  height: 80%;
  min-height: 44rem;
  margin: auto;
  padding: 5rem 8rem;
  background-image: radial-gradient(#43599494, #39458563);
  border-radius: 1rem;
  margin-top: 4rem;
}

/* why the temcarga */

#why-the-temcarga > .container {
  width: 90%;
  max-width: 100rem;
  margin: auto;
}

#why-the-temcarga > .container > h2 {
  padding: 0.5rem 1rem;
  display: inline;
  border-radius: 40rem;
  font-size: 1.6rem;
  font-family: var(--inter);
  font-weight: 700;
  color: var(--primary-color);
  border: 0.2rem solid var(--primary-color);
}

#why-the-temcarga > .container > h3 {
  margin: 2rem 0 5rem;
  font-size: 2.8rem;
  font-weight: 500;
  width: 48%;
}

#cards-container {
  display: flex;
  gap: 1rem;
}

#cards-container > div:first-child {
  padding-left: 3rem;
}

/* Faq section */

#faq {
  width: 90%;
  max-width: 100rem;
  margin: auto;
  margin-bottom: 7rem;
}

#faq > img {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 3rem;
}

@keyframes ballAppers {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#burguer-menu {
  display: none;
  width: 5rem;
  height: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

#burguer-menu div {
  width: 100%;
  height: 0.3rem;
  border-radius: 1rem;
  background-color: var(--black-clearer);
}

#menu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--bg);
  z-index: 99;
  width: 100%;
  height: 100%;
}

#menu > nav > ul {
  position: absolute;
  display: block;
  z-index: 1;
  list-style: none;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

#menu > nav > ul > li {
  margin: 2rem 0;
}

#menu > nav > ul > li > a {
  padding: 2rem 10rem;
  display: block;
  width: 100%;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-family: var(--inter);
  font-weight: bold;
  color: var(--black-clearer);
  text-transform: uppercase;
}

#menu > nav > ul > li > a:hover {
  color: var(--primary-color);
  background-color: var(--white);
}

@media (max-width: 950px) {
  #benefits {
    transform: translateX(-10rem);
  }

  #hows-it-works > .container {
    margin-bottom: 6rem;
  }

  
}

@media (max-width: 870px) {
  #hero {
    flex-direction: column;
  }
  #hero > div:nth-child(2) > img {
    display: none;
  }
  #hero > div:first-child > p {
    width: 100%;
  }
}

@media (max-width: 840px) {
  #hows-it-works > .container {
    margin-bottom: 12rem;
  }
}

@media (max-width: 820px) {
  #benefits {
    transform: translateX(-20rem);
  }

  #why-the-temcarga > .container > h3 {
    width: 70%;
  }
}

@media (max-width: 712px) {
  #hows-it-works > .container {
    margin-bottom: 18rem;
  }
}

@media (max-width: 740px) {
  #landing-page > header {
    z-index: 999;
  }

  #landing-page > header > div > nav > ul,
  #landing-page > header > div > button {
    display: none !important;
  }

  #burguer-menu {
    display: flex;
  }
}

@media (max-width: 714px) {
  #benefits {
    display: none;
  }

  #hows-it-works {
    margin-top: 22rem;
  }

    #why-the-temcarga > .container > h3 {
    width: 80%;
  }
}

@media (max-width: 660px) {
  #im-truck-driver {
    gap: 4rem;
  }
  #im-truck-driver > img {
    min-width: 20rem;
  }

  #im-truck-driver > div:first-child {
    width: 65%;
  }
}

@media (max-width: 620px) {
  #video-ref {
    height: 55%;
  }

  #video-border {
    min-height: 35rem;
    width: 90%;
  }
}

@media (max-width: 580px) {
  #im-truck-driver > img {
    display: none;
  }

  #im-truck-driver > div:first-child {
    width: 100%;
  }

  #hows-it-works > .container {
    margin-bottom: 15rem;
  }
}

@media (max-width: 560px) {
  #hows-it-works > .container > p {
    width: 80%;
  }

  #video-border {
    width: 100%;
  }
}

@media (max-width: 450px) {
  #video-ref {
    height: 95%;
    width: 95%;
  }
}

@media (max-width: 415px) {
  #hows-it-works > .container {
    margin-bottom: 19rem;
  }

  #hows-it-works > .container > p {
    width: 100%;
  }
}

@media (max-width: 390px) {
  #video-ref {
    width: 95%;
    height: 85%;
  }

  #video-border {
    min-height: 25rem;
  }
  
  #why-the-temcarga > .container > h3 {
    width: 100%;
  }
}
