* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Work Sans", sans-serif;
}

:root {
  --bg: #f9f9f9;
  --white: #ffff;
  --black: #232323;
  --black-clearer: #636363;
  --primary-color: #3196f8;
  --gray-clearer: #E4E4E4;
  --worksans: "Work Sans", sans-serif;
  --inter: "Inter", sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  font-family: var(--inter);
  height: 100vh;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.6rem;
}
