#SignUpContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    gap: 6.0rem;
    width: 90%;
    height: 50%;
    margin: auto;
}

#SignUpContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    height: 90%;
    max-height: 10.0rem;
    gap: 1.0rem;
    width: 90%;
    max-width: 45.0rem;
}

#SignUpContent > h2{
    font-size: 2.3rem;
}

#SignUpContent > p{
    text-align: center;
}

#FooterSignUp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3.0rem;
}